<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <p>Account Info: <%= user %></p>
    <h1>Account ID: <%= user._id %></h1>
    <p>Wallets: <%= wallets %></p>
    <form action="/transactions" method="POST">
        <input type="hidden" name="TransactionSite" value=<%= site %>>
        <label for="TransactionAccount">Account: <%= user._id %></label>
        <input type="hidden" name="TransactionAccount" value="<%= user._id %>" id="input-account">
        <br>
        <label for="TransactionWallet">Wallet: </label>
        <select name="TransactionWallet" id="select-wallets">
            <% for (let i = 0; i < wallets.length; i++) { %>
                <option value="<%= wallets[i]._id %>"><%= wallets[i].WalletName %></option>
            <% } %>
        </select>
        <br>
        <input type="radio" name="TransactionType" id="input-type-expense" value="Expense" checked>
        <label for="input-type-expense">Expense</label>
        <input type="radio" name="TransactionType" id="input-type-income" value="Income">
        <label for="input-type-income">Income</label>
        <br>
        <label for="input-amount">Amount: </label>
        <input type="number" name="TransactionAmount" id="input-amount">
        <br>
        <label for="input-title">Title: </label>
        <input type="text" name="TransactionTitle" id="input-title" placeholder="Grocery, ...">
        <br>
        <label for="textarea-description">Description: </label><br>
        <textarea name="TransactionDescription" id="textarea-description" cols="30" rows="10"></textarea>
        <br>
        <label for="input-date">Date: </label>
        <input type="date" name="TransactionDate" id="input-date" value="<%= dateNow %>">
        <br>
        <label for="TransactionTags">Tags: </label>
        <% for(let i = 0; i < tags.length; ++i) { %>
            <% if (i % 3 == 0) { %>
                <br>
            <% } %>
            <input type="checkbox" name="TransactionTags" value="<%= tags[i]._id %>" id="input-tag-<%= tags[i]._id %>">
            <label for="input-tag-<%= tags[i]._id %>"><%= tags[i].TransactionTagName %></label>
        <% } %>
        <br>
        <button type="submit">Create Transaction</button>
    </form>
</body>
</html>